<!-- Skills Section -->
    <section id="techstack" class="skills section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Tech Stack</h2>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row skills-content skills-animation">
            <div class="col-md-6 mb-4">
                <h5>Programming Languages</h5>
                <img src="assets/img/skills/skill-icons--php-dark.png" class="skill-icon" alt="php">
                <img src="assets/img/skills/skill-icons--javascript.png" class="skill-icon" alt="javascript">
                <img src="assets/img/skills/skill-icons--ruby.png" class="skill-icon" alt="ruby">
            </div>
            <div class="col-md-6 mb-4">
            <h5>Frontend Technologies</h5>
                <img src="assets/img/skills/skill-icons--html.png" class="skill-icon" alt="html">
                <img src="assets/img/skills/skill-icons--css.png" class="skill-icon" alt="css">
                <img src="assets/img/skills/skill-icons--less-dark.png" class="skill-icon" alt="less">
                <img src="assets/img/skills/skill-icons--react-dark.png" class="skill-icon" alt="react">
                <img src="assets/img/skills/skill-icons--bootstrap.png" class="skill-icon" alt="bootstrap">
                <img src="assets/img/skills/skill-icons--jquery.png" class="skill-icon" alt="jquery">
                <img src="assets/img/skills/ajax.png" class="skill-icon" alt="ajax">
            </div>
            <div class="col-md-6 mb-4">
            <h5>Backend Frameworks &amp; Libraries</h5>
                <img src="assets/img/skills/skill-icons--laravel-dark.png" class="skill-icon" alt="laravel">
                <img src="assets/img/skills/codeigniter.png" class="skill-icon" alt="codeigniter">
                <img src="assets/img/skills/skill-icons--expressjs-dark.png" class="skill-icon" alt="express">
                <img src="assets/img/skills/skill-icons--nodejs-dark.png" class="skill-icon" alt="Node.js">
                <img src="assets/img/skills/skill-icons--rails.png" class="skill-icon" alt="ruby on rails">
            </div>
            <div class="col-md-6 mb-4">
            <h5>Databases</h5>
                <img src="assets/img/skills/skill-icons--mysql-dark.png" class="skill-icon" alt="MySQL">
                <img src="assets/img/skills/skill-icons--postgresql-dark.png" class="skill-icon" alt="PostgreSQL">
                <img src="assets/img/skills/skill-icons--sqlite.png" class="skill-icon" alt="Sqlite">
            </div>
            <div class="col-md-6 mb-4">
            <h5>DevOps &amp; Deployment & Networking</h5>
                <img src="assets/img/skills/skill-icons--docker.png" class="skill-icon" alt="Docker">
                <img src="assets/img/skills/skill-icons--nginx.png" class="skill-icon" alt="nginx">
                <img src="assets/img/skills/wamp.png" class="skill-icon" alt="wamp">
                <img src="assets/img/skills/xampp.png" class="skill-icon" alt="xampp">
                <img src="assets/img/skills/skill-icons--cloudflare-dark.png" class="skill-icon" alt="cloudflare">
            </div>
            <div class="col-md-6 mb-4">
            <h5>Version Control &amp; Collaboration</h5>
                <img src="assets/img/skills/skill-icons--github-dark.png" class="skill-icon" alt="Github">
            </div>
            <div class="col-md-12">
            <h5>Hosting &amp; Cloud Platforms </h5>
                <img src="assets/img/skills/skill-icons--azure-dark.png" class="skill-icon" alt="">
                <img src="assets/img/skills/skill-icons--vercel-dark.png" class="skill-icon" alt="">
            </div>

        </div>

      </div>

    </section><!-- /Skills Section -->