<!-- Resume Section -->
    <section id="timeline" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Timeline</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

            <div class="col" data-aos="fade-up" data-aos-delay="100">
                <div class="resume-item">
                <h4>Freelance Developer</h4>
                <h5>Jan 2025 – Present</h5>
                <p><em>PIXEL | SearchWorks</em></p>
                <p>Since starting my freelance career, I’ve worked on short-term freelance projects for PIXEL and SearchWorks, developing custom web applications tailored to their specific needs.</p>
            </div><!-- End Resume Item -->

            <div class="resume-item">
                <h4>Software Engineer</h4>
                <h5>May 2024 – Feb 2025</h5>
                <p><em>Pines International Academy</em></p>
                <p>After completing my government contract, I joined Pines International Academy as a Software Engineer. I managed and improved their admin system by fixing bugs, implementing continuous enhancements, and adding new features based on client requests for their English teaching platform.</p>
            </div><!-- End Resume Item -->

            <div class="resume-item">
                <h4>Teaching Assistant</h4>
                <h5>Jan 2024 – Apr 2024</h5>
                <p><em>Village 88</em></p>
                <p>I worked as a teaching assistant at a local bootcamp, guiding students in mastering PHP, JavaScript, React, and Ruby on Rails. My responsibilities included answering questions, troubleshooting issues, and providing personalized support to help students succeed in their projects. I helped them navigate both frontend and backend development to build complete, functional web applications.</p>
            </div><!-- End Resume Item -->

            <div class="resume-item">
                <h4>Data-Encoder Controller I</h4>
                <h5>Sep 2023 – Mar 2024</h5>
                <p><em>Department of Public Works and Highways - CAR</em></p>
                <p>Shortly after graduation, I was offered a contractual role in the government where I developed an HR Information System and other internal systems to support the organization's operations and data management.</p>
            </div><!-- End Resume Item -->

            <div class="resume-item">
                <h4>Backend Development Trainee</h4>
                <h5>Jan 2023 – Apr 2023</h5>
                <p><em>Village 88</em></p>
                <p>I joined an intensive training program focused on PHP development during my internship. Even after completing the internship, I continued the training to expand my skills, gaining hands-on experience with Express, Node.js, and Ruby. This extended training helped me build responsive, interactive applications and strengthened my understanding of modern web technologies.</p>
            </div><!-- End Resume Item -->

            <div class="resume-item">
                <h4>Web Developer</h4>
                <h5>Feb 2022 – Dec 2022</h5>
                <p><em>Money Trees Consumer Goods Trading (MTGCT)</em></p>
                <p>When the pandemic hit, online work opportunities surged. I took the chance to experience real-world development by working as a freelance developer for MTGCT, where I built custom web applications tailored to their needs.</p>
            </div><!-- End Resume Item -->

            <div class="resume-item">
                <h4>Bachelor of Science in Computer Science</h4>
                <h5>Aug 2018 – May 2023</h5>
                <p><em>University of Baguio, Baguio City, Philippines</em></p>
            </div><!-- End Resume Item -->

            </div>
        </div>

      </div>

    </section><!-- /Resume Section -->